.container {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 0.4px solid #d3d3d350;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
}