.input_group {
    margin-bottom: 15px;
    text-align: left;
    width: 250px;
}
  
.input_group label {
    display: block;
    margin-bottom: 5px;
}
  
.input_group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
  
.btn {
    font-size: 13px;
    transition: 0.1s ease;
    width: 100%;
    padding: 10px;
    background-color: #d6d6d6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.btn:hover {
    color: #eeeeee;
    background-color: #727272;
}

.btn_signUp {
    font-size: 13px;
    background-color: white;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.btn_signUp:hover {
    color: #eeeeee;
    background-color: #727272;

}

.a:link {
    text-decoration-line: none;
}
.a:visited, .a:active {
    color: rgb(66, 66, 66);
}
.a:hover {
    color: #eeeeee;
}