@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


* {
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
}

body {
  background: #f7f7fa;
}

i {
  transition: 0.4s ease;
  color :black;
  font-size: 1.5rem;
  padding-right: 10px;
}