.container{
    display: flex;
    flex-direction: column;
}

.list{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
    background: #f7f7fa;
    padding: 10px;
}

.item {
    align-self: center;
    width: 100%;
}

.title {
    padding-bottom: 10px;
}