.container {
  width:300px;
  top: 0;
  bottom: 0;
  position: fixed;
  right: 0;
  transition: 0.4s ease;

}

.sidebar {
  margin:auto;
  padding: 20px;
  background-color: #E3ECF1;
  position: fixed;
  height: 90%;
  width: 300px;
  z-index: 99;
}

.button {
  width: 40px;
  height: 40px;
  z-index: 99;
  transition: 0.8s ease;
  border: 2px solid #202020;
  border-radius: 40px;
}
.content {
  padding: 40px 40px 0 20px;
  position: relative;
  width: 100%;
}