.container {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.list:last-child {
    margin-bottom: 0;
}

.title {
    display: flex;
    align-items: center;
    height: 25px;
    justify-content: space-between;
}

.btnContainer {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnContainer i {
    cursor: pointer;
}
.fs_16 {
    font-size: 15px;
}

.box {
    background: #f7f7fa;
    border-radius: 10px;
    max-height: 170px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.item {
    display: flex;
    flex-direction: column;
}

.item::-webkit-scrollbar {
    width: 10px;
}

.item::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
    border-radius: 5px;
}

.content {
    transition: 0.1s ease;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14.5px;
}

.content:hover {
    background-color: rgb(218, 218, 218);
}

.content:last-child {
    border-bottom: none;
}
