.sidebar {
    display: flex;
    transition: 0.4s ease;
    z-index: 999;
}
.sidebar.expended{
    left: 0px;
    width: 280px;
}
.sidebar.collapsed{
    width: 0px;
}

.sidebar_box {
    align-self: center;
    width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    overflow-y: auto;
    position: absolute;
}

.sidebar_box::-webkit-scrollbar {
    width: 5px;
}

.sidebar_box::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
    border-radius: 2.5px;
}

.sidebar_box.expended {
    top: 0;
    bottom: 0;
    height: 100%;
    border-right: 0.4px solid #A4A3A4;
}

.sidebar_box.collapsed {
    height: 90%;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sidebar_box_list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar_box_header {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}