.box {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 0.4px solid #d3d3d350;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comment {
    display: flex;
    flex-direction: column;
}

.commentInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.createdDate {
    font-size: 13px;
}
