.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 0.4px solid #d3d3d350;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box {
    transition: 0.2s ease;
    border-radius: 20px;
    padding: 0 15px;
    height: 50px;
    gap: 10px;
    display: flex;
}
.box:hover {
    background-color: rgb(200, 200, 200);
}

.id {
    min-width: 30px;
}
.title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}
.postInfo {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.ac_c {
    align-content: center;
    white-space: nowrap;
}

.box a {
    color: black;
}
.box a:hover {
    color: #505050;
}