.container {
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar mainContent";
    grid-template-rows: 5vh auto;
    height: 100vh;
    transition: 0.4s ease;
}
.container.expended {
    grid-template-columns: 280px auto;
}
.container.collapsed {
    grid-template-columns: 0 auto;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.mainContent {
    grid-area: mainContent;
}
/*

.header_item {
    width: 100%;
    padding-left: 10px;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.btn_header, .btn_sidebar {
    align-self: center;
    transition: 0.4s ease;
    transition: opacity 0.4s;
}

.btn_header.collapsed {
    opacity: 1;
}

.btn_header.expended {
    opacity: 0;
}

.btn_sidebar.expended {
    opacity: 1;
}

.btn_sidebar.collapsed {
    opacity: 0;
}



.sidebar_container {
    padding: 20px;
    transition: 0.4s ease;
    position: fixed;
    width: 280px;
    background-color: #ffffff;
    align-self: center;
    display: flex;
    transition: opacity 0.1s;
    transition: 0.4s ease;
}

.sidebar_container.expended {
    height: 100%;
    opacity: 1;
    border-right: 0.5px solid #8f8f8f;
}

.sidebar_container.collapsed {  
    height: 80vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sidebar_header {
    justify-self: start;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar_header_item {
    align-self: center;
}

.sidebar_header_item.btn {
    justify-self: end;
} */